In [163]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\maria-eduarda_rosa\appdata\roaming\python\python39\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\maria-eduarda_rosa\appdata\roaming\python\python39\site-packages (from scikit-learn) (2.0.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\maria-eduarda_rosa\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\maria-eduarda_rosa\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\maria-eduarda_rosa\appdata\roaming\python\python39\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

In [164]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [165]:
misterio = r'C:\Users\maria-eduarda_rosa\Downloads\cliente_compras.xlsx'

In [166]:
df_compras = pd.read_excel(misterio)

In [167]:
df_compras.head()

   tempo_gasto_site  numero_itens_visualizados compras_anteriores compra
0                10                          5                Não    Não
1                15                          7                Sim    Sim
2                20                          8                Sim    Sim
3                 5                          3                Não    Não
4                25                         10                Sim    Sim

In [168]:
df_compras.columns = ['tempo_gasto_site','numero_itens_visualizados','compras_Anteriores','Compra']

In [169]:
df_compras.head()

   tempo_gasto_site  numero_itens_visualizados compras_Anteriores Compra
0                10                          5                Não    Não
1                15                          7                Sim    Sim
2                20                          8                Sim    Sim
3                 5                          3                Não    Não
4                25                         10                Sim    Sim

In [170]:
x = df_compras[['tempo_gasto_site','numero_itens_visualizados','compras_Anteriores']]
y = df_compras['Compra']

In [171]:
mapeamento_compras_anteriores = {'Sim':0,'Não':1}
mapeamento_compra = {'Sim':0,'Não':1}
mapeamento_tempo_gasto_site = {}
mapeamento_numero_itens_visualizados = {}

In [172]:
x['compras_Anteriores'] = x['compras_Anteriores'].map(mapeamento_compras_anteriores)

C:\Users\maria-eduarda_rosa\AppData\Local\Temp\ipykernel_10380\3183553004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['compras_Anteriores'] = x['compras_Anteriores'].map(mapeamento_compras_anteriores)

In [173]:
y=y.map(mapeamento_compra)

In [174]:
y

0     1
1     0
2     0
3     1
4     0
5     0
6     1
7     0
8     0
9     1
10    0
11    0
12    1
13    0
14    0
15    1
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
Name: Compra, dtype: int64

In [175]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=37)

In [176]:
modelo = DecisionTreeClassifier()
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

In [177]:
caminho_arquivo2 = r'C:\Users\maria-eduarda_rosa\Downloads\clientes_compra_misterio.xlsx'

In [178]:
df_comprar = pd.read_excel(caminho_arquivo2)

In [179]:
x['tempo_gasto_site']=x['tempo_gasto_site'].map(mapeamento_tempo_gasto_site)
x['numero_itens_visualizados']=x['numero_itens_visualizados'].map(mapeamento_numero_itens_visualizados)
x['tempo_gasto_site']=x['tempo_gasto_site'].map(mapeamento_tempo_gasto_site)

C:\Users\maria-eduarda_rosa\AppData\Local\Temp\ipykernel_10380\2782554903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['tempo_gasto_site']=x['tempo_gasto_site'].map(mapeamento_tempo_gasto_site)
C:\Users\maria-eduarda_rosa\AppData\Local\Temp\ipykernel_10380\2782554903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['numero_itens_visualizados']=x['numero_itens_visualizados'].map(mapeamento_numero_itens_visualizados)
C:\Users\maria-eduarda_rosa\AppData\Local\Temp\ipykernel_10380\2782554903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['tempo_gasto_site']=x['tempo_gasto_site'].map(mapeamento_tempo_gasto_site)

In [180]:
df_comprar['tempo_gasto_site']=df_comprar['tempo_gasto_site'].map(mapeamento_tempo_gasto_site)
df_comprar['numero_itens_visualizados']=df_comprar['numero_itens_visualizados'].map(mapeamento_numero_itens_visualizados)
df_comprar['compras_anteriores']=df_comprar['compras_anteriores'].map(mapeamento_compras_anteriores)

In [181]:
df_comprar

    tempo_gasto_site  numero_itens_visualizados  compras_anteriores
0                NaN                        NaN                   1
1                NaN                        NaN                   0
2                NaN                        NaN                   0
3                NaN                        NaN                   1
4                NaN                        NaN                   0
5                NaN                        NaN                   0
6                NaN                        NaN                   1
7                NaN                        NaN                   0
8                NaN                        NaN                   0
9                NaN                        NaN                   1
10               NaN                        NaN                   0
11               NaN                        NaN                   0
12               NaN                        NaN                   1
13               NaN                        NaN                   0
14               NaN                        NaN                   0
15               NaN                        NaN                   1
16               NaN                        NaN                   0
17               NaN                        NaN                   0